.profile-info {
   display: flex;
   gap: 3rem;
   margin: 1.6rem;
}

.profile-account__details {
}

.profile-img {
   width: 7.5rem;
   height: 7.5rem;
   border-radius: 50%;
   cursor: pointer;
}

.profile-account__header {
}

.profile-account__name {
   font-size: 2.8rem;
   font-weight: 100;
}

.profile-edit__btn {
   border: 0.1rem solid #dbdbdb;
   background-color: transparent;
   font-size: 1.4rem;
   font-weight: 600;
   border-radius: 0.4rem;
   display: inline-block;
   padding: 0.3rem 1.5rem;
   margin-right: 2rem;
   text-decoration: none;
   color: black;
   text-align: center;
}

.profile-edit__btn:hover {
   color: black;
}

.profile-setting__btn {
   cursor: pointer;
}

.profile-account__status {
   display: none;
   margin-bottom: 3rem;
}

.profile-account__posts {
}

.profile-account__followers {
   cursor: pointer;
}

.profile-account__following {
   cursor: pointer;
}

.profile-account__followers:hover,
.profile-account__following:hover {
   color: black;
}

.profile-account__posts-count,
.profile-account__followers-count,
.profile-account__following-count {
   font-weight: 600;
   margin-right: 0.5rem;
}

.profile-user__details {
   font-size: 1.4rem;
   margin-left: -8.8rem;
   padding-top: 3rem;
}

.profile-user__name {
   display: block;
   font-weight: 600;
   margin-bottom: 1rem;
}

.profile-user__bio {
   display: block;
}

.account-files {
}

.account-files__linkes {
   display: flex;
   justify-content: center;
   gap: 4rem;
   margin-top: 18rem;
   border-top: 0.1rem solid #dbdbdb;
   padding-top: 2rem;
}

.account-posts__btn,
.account-saved__btn {
   position: relative;
   color: #8e909c;
   font-size: 1.2rem;
   text-decoration: none;
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.account-posts__btn:hover,
.account-saved__btn:hover {
   color: black;
}

.account-files__linkes .active {
   color: black;
   font-weight: 600;
}

.account-files__linkes .active::after {
   content: "";
   position: absolute;
   top: -2.1rem;
   left: 0;
   right: 0;
   height: 0.2rem;
   background-color: black;
}

.profile-img-modal-wrapper {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 3;
   display: none;
   align-items: center;
   justify-content: center;
}

.profile-img-modal-wrapper--show {
   display: flex;
}

.profile-img-modal {
   background-color: white;
   width: 40rem;
   text-align: center;
   border-radius: 1rem;
   font-size: 1.4rem;
}

.img-modal__title {
   padding: 3rem 0 1.5rem 0;
}

.img-modal__upload-photo {
   padding: 0.5rem 0;
   font-weight: 700;
   cursor: pointer;
   color: #0095f6;
   position: relative;
}

.img-modal__upload-photo--input {
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
}

.img-modal__remove-photo {
   padding: 0.5rem 0;
   font-weight: 700;
   cursor: pointer;
   color: #ed4956;
}

.img-modal__cancel {
   padding: 0.5rem 0;
   cursor: pointer;
}
