.followers {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.75);
   z-index: 10;
   justify-content: center;
   align-items: center;
   display: none;
}

.followers--show {
   display: flex;
}

.followers-wrapper {
   width: 50rem;
   max-height: 40rem;
   overflow: auto;
   background-color: white;
   padding: 1.5rem;
}

.followers-header {
   display: flex;
   margin-top: 1rem;
}

.followers-header__title {
   font-weight: 600;
}

.followers-header__close {
   margin-left: auto;
   cursor: pointer;
   font-size: 2rem;
}

.followers-body {
}

.followers-contact {
   display: flex;
   align-items: center;
   margin-top: 1.5rem;
}

.followers-contact__img {
   width: 4.4rem;
   height: 4.4rem;
   border-radius: 50%;
}

.followers-contact__username {
   margin-left: 1rem;
   text-decoration: none;
   font-weight: 600;
   color: black;
}

.followers-contact__username:hover {
   color: black;
}

.followers-contact__btn {
   margin-left: auto;
   background-color: white;
   font-size: 1.4rem;
   border: 0.1rem solid rgb(196, 191, 191);
   padding: 0.3rem 1rem;
   border-radius: 0.5rem;
   font-weight: 600;
}
