.App {
   margin-bottom: 15rem;
}

.contact-btn {
   position: fixed;
   bottom: 1.5rem;
   right: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0.1rem solid white;
   width: 4.2rem;
   height: 4.2rem;
   border-radius: 50%;
   font-size: 2.5rem;
   background-color: #efefef;
   z-index: 3;
   border: 0.1rem solid gray;
}

.contact-btn__icon {
}

.contact-btn__text {
}

.contact-modal {
   position: fixed;
   bottom: -100%;
   right: 0;
   left: 0;
   display: flex;
   justify-content: center;
   background-color: #efefef;
   font-size: 1.2rem;
   padding: 0 1.5rem;
   border-top: 0.1rem solid gray;
   z-index: 3;
   transition: all 0.2s;
}

.contact-modal--show {
   bottom: 0;
   transition: all 0.2s;
}

.contact-close {
   position: absolute;
   top: 1.5rem;
   right: 1.5rem;
   font-size: 2rem;
}

.contact-modal__front {
   display: flex;
   flex-direction: column;
   width: 50%;
}

.contact-modal__item {
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.contact-modal__icon {
}

.contact-modal__back {
   display: flex;
   flex-direction: column;
   width: 50%;
}

.contact-modal__title {
   margin-top: 1rem;
}

.contact-modal__item--email {
   font-size: 0.8rem;
}
