@media (min-width: 350px) {
}

@media (min-width: 576px) {
   .postcard-img {
      max-height: 16.5rem;
   }

   .develope-text {
      padding: 12rem 8rem;
      font-size: 2.5rem;
   }

   .contact-modal {
      font-size: 1.4rem;
   }

   .contact-modal__item--email {
      font-size: 1.4rem;
   }
}

/* md */

@media (min-width: 768px) {
   .header-search {
      display: flex;
   }

   .profile {
      gap: 3rem;
      margin-left: 6rem;
      margin-top: 5rem;
   }

   .profile-img {
      width: 15rem;
      height: 15rem;
      margin-right: 5rem;
      margin-top: 5rem;
   }

   .profile-account__header {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 2rem;
   }

   .profile-edit__btn {
      margin-right: 0;
      width: 20rem;
   }

   .profile-account__status {
      display: flex;
      gap: 4rem;
   }

   .profile-user__details {
      margin-left: 0;
      padding-top: 0;
      font-size: 1.6rem;
   }

   .postcard-img {
      max-height: 22.5rem;
   }

   .contact-modal__front,
   .contact-modal__back {
      align-items: center;
   }
}

/* lg */

@media (min-width: 992px) {
   .postcard-img {
      max-height: 30.5rem;
   }
}

/* xl */

@media (min-width: 1200px) {
   .App {
      padding: 0 31.5rem !important;
   }

   .chosenPost-right-side {
      height: auto;
   }

   .postcard-img {
      max-height: 17rem;
   }
}

/* xxl */

@media (min-width: 1400px) {
   .home-right-side {
      display: block;
   }

   .postcard-img {
      max-height: 23.7rem;
   }
}

/* xxxl */

@media (min-width: 1500px) {
   .postcard-img {
      max-height: 30.2rem;
   }
}

@media (min-width: 1650px) {
   .postcard-img {
      max-height: 35rem;
   }
}

@media (max-width: 768px) {
   .chosenPost-close {
      right: 1rem;
      top: 1rem;
   }
}
